.authContainer {
  align-items: center;
  display: block;
  position: absolute;
  top: 59%;
  left: 47%;
  transform: translate(-50%, -50%);
  max-width: 400px;
}
.createForm {
  text-align: center;
}
.heading {
  width: 120%;
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 19px;
  text-align: center;
}

.inputField {
  width: 120%;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #555555;
  font-size: 15px;
}
.btn {
  width: 120%;
  padding: 8px;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #ffa500;
  background-color: #ffa500;
  font-size: 15px;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #cf8907;
  border-color: #cf8907;
}

.nav {
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: #002333;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #ffa500;
  margin-left: 50px;
  margin-right: 20px;
}
.logoHighlighted {
  color: #ffffff;
}

.row1 {
  width: 80%;
  margin: 0 auto;
}
